<?xml VERSION="1.0" ENCODING="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd"
    description="sqlReports 4" 
    name="sqlReports 4" 
    version="4.5a">

    <publisher name="Matt Freund">
        <contact email="matt@sisresources.com"/>
    </publisher>
</plugin>